@font-face {
    font-family: "Norse Bold";
    src: url('/assets/Norse-Bold.otf') format("opentype");
    src: url('/assets/norse-bold-webfont.woff') format("woff");
    font-style: bold;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit ;
}

.site-container {
    display: flex;
}

.left-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url(assets/photo-1585202900225-6d3ac20a6962.avif);
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    background: rgba(0,0,0,.5);
    color: white;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60vh;
    flex-grow: 0;
}

#logo-image {
    content: url(/assets/odin-lined.png);
    padding: 10px;
    margin: 0px;
    width: auto;
    height: 150px;
    object-fit: contain;
}

#logo-text {
    font-family: "Norse Bold";
    font-size: 100px;
}

.top-right {
    display: flex;
    flex-direction: column;
    background-color: #fbfafa;
}

#top-form-info {
    margin: 150px 350px 50px 50px;
    font-size: 30px;
    font-style: normal;
}

#bottom-form-info {
    margin: 0px 350px 75px 50px;
    font-size: 30px;
    font-style: normal;
}

.right-form {
    background-color: white;
    font-size: 25px;
    margin-left: 50px;
}

.bottom-right {
    background-color: #fbfafa;
}

label,input {
    display: flex;
    flex-direction: row;
}

.right-form {
    float: left;
    display: block;
}