@font-face {
    font-family: "Norse Bold";
    src: url('assets/Norse-Bold.otf') format("opentype");
    src: url('assets/norse-bold-webfont.woff') format("woff");
    font-style: bold;
}

* {
    font: Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fbfafa;
}

a {
    color: inherit ;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    width : 250px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFEFA;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0px 3px 5px lightgray, 0px -3px 5px lightgray;
    outline: none;
    border: 1px solid blue;
}

input:invalid.error {
    outline: none;
    border: 1px solid red;
}

.site-container {
    display: flex;
}

.left-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url(assets/photo-1585202900225-6d3ac20a6962.avif);
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    background: rgba(0,0,0,.5);
    color: white;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60vh;
    flex-grow: 0;
}

#logo-image {
    content: url(assets/odin-lined.png);
    padding: 10px;
    margin: 0px;
    width: auto;
    height: 150px;
    object-fit: contain;
}

#logo-text {
    font-family: "Norse Bold";
    font-size: 100px;
}

.top-right {
    display: flex;
    flex-direction: column;
    background-color: #fbfafa;
}

#top-form-info {
    margin: 100px 350px 50px 50px;
    font-size: 30px;
    font-style: normal;
}

#bottom-form-info {
    margin: 0px 350px 75px 50px;
    font-size: 30px;
    font-style: normal;
}

.right-form {
    background-color: white;
    padding-left: 50px;
    font-size: 25px;
    float: left;
    display: block;
    margin: 0px 0px 40px 0px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 5px lightgray, 0px -4px 5px lightgray;
}

.col1 {
    float: left;
    width: 350px;
}
  
.col2 {
    float: left;
    width: 350px;
}
input {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

label {
    font-size: 15px;
    letter-spacing: 1px;
}

#create-account-btn {
    color: white;
    background-color: #596D48;
    font-size: 15px;
    font-size: bold;
    padding: 15px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 50px;
}

#log-in-text {
    margin-left: 50px;
}

#log-in-text a {
    color: #596D48;
    font-style: 900;
    text-decoration: none;
}

label,input {
    display: flex;
    flex-direction: row;
}